{% extends "layout.twig" %}

{% block title %} Intégralité des chapitres {% endblock %}

{% block content %}

    <h1>Voici tous les chapitres disponibles pour le moment :</h1>

    {% for chapter in chapters %}

        <section class="card bg-light">
            <h2 class="card-header">{{ chapter.title | nl2br }}</h2>
            <div class="card-body">
                <h3 class="card-text">{{ chapter.creation_date_fr }}</h3>
                <p class="card-text">{{ chapter.content | slice(0, 250) | nl2br }}</p>
                <a href="https://jeanforteroche.valentin-antoin.fr/index.php?access=chapter&id={{ chapter.id }}" class="card-link linkoff">Lire plus...</a>
            </div>
        </section>

    {% endfor %}

{% endblock %}