{% extends "layout.twig" %}


{% block title %} Intégralité des chapitres {% endblock %}


{% block content %}

    <h1>Voici tous les chapitres disponibles pour le moment :</h1>


    {% for chapter in chapters %}

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ chapter.title }}</h5>
                <h6 class="card-text">{{ chapter.creation_date_fr }}</h6>
                <p class="card-text">{{ chapter.content | striptags }}</p>
                <a href="https://jeanforteroche.valentin-antoin.fr/index.php?acces=chapter&id={{ chapter.id }}" class="card-link">Lire plus...</a>
            </div>
        </div>

    {% endfor %}


{% endblock %}