{% extends "layout.twig" %}


{% block title %}
    <title>{{ chapter.title }}</title>
{% endblock %}

{% block content %}

    <h1>{{ chapter.title }}</h1>

    <p>{{ chapter.content }}</p>

{% endblock %}