{% extends "layout.twig" %}


{% block title %}
    <title>{{ chapter.title }}</title>
{% endblock %}

{% block content %}

    {% for chapter in chapter %}

    <h1>{{ chapter.title }}</h1>

    <div class="chapterContent">

        <p>{{ chapter.content }}</p>

    </div>


    {% endfor %}

{% endblock %}
