{% extends "layout.twig" %}

{% block title %}

    <title>Contactez moi</title>

{% endblock %}

{% block content %}

    <h1>Contactez moi !</h1>

    <form method="post" action="https://jeanforteroche.valentin-antoin.fr/index.php?acces=sendmail">

        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">Votre nom</span>
            </div>
            <input type="text" class="form-control" placeholder="Nom" aria-label="Username" name="name" aria-describedby="addon-wrapping" required>
        </div>
        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">Votre e-mail</span>
            </div>
            <input type="email" class="form-control" placeholder="Mail" aria-label="mail" name="mail" aria-describedby="addon-wrapping" required>
        </div>
        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">Votre message</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" name="message" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>

    </form>

{% endblock %}