{% extends "layout.twig" %}

{% block title %} Bienvenue sur le blog de Jean ! {% endblock %}

{% block content %}

<!--   CAROUSEL   -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <figure class="carousel-item active">
                <img src="img/alaska1.jpg" class="d-block w-100" alt="aurore boreale">
            </figure>
            <figure class="carousel-item">
                <img src="img/alaska2.jpg" class="d-block w-100" alt="paysage de montagne">
            </figure>
            <figure class="carousel-item">
                <img src="img/alaska3.jpg" class="d-block w-100" alt="route de montagne">
            </figure>
        </div>
    </div>

<!--   LAST CHAPTER SECTION   -->
    <h1>Voici le dernier chapitre publié : </h1>

    <section class="card bg-light">
        <h2 class="card-header">{{ chapter.title | nl2br}}</h2>
        <div class="card-body">
            <h3 class="card-text">{{ chapter.creation_date_fr }}</h3>
            <p class="card-text">{{ chapter.content | slice(0, 250) | nl2br }}</p>
            <a href="https://jeanforteroche.valentin-antoin.fr/index.php?acces=chapter&id={{ chapter.id }}" class="card-link linkoff">Lire plus...</a>
        </div>
    </section>

{% endblock %}