<?php session_start();?>
<!doctype html>
<html lang="fr">
<!--   HEAD   -->

<head>

    <!--  MAIN META   -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--  TITLE   -->
    <title>{% block title %}{% endblock %}</title>

    <!--  SECONDARY META  -->
    <meta name="description" content="Blog de Jean Forteroche">
    <meta name="author" content="Valentin ANTOIN">

    <!--  OPENGRAPH  -->
    <meta property="og:title" content="Blog de Jean Forteroche">
    <meta property="og:type" content="website">
    <meta property="url" content="">
    <meta property="og:image" content="img/typewriter.png">
    <meta property="og:description" content="Blog de Jean Forteroche">

    <!--  TWITTER  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="Blog de Jean Forteroche">
    <meta name="twitter:description" content="Blog de Jean Forteroche">
    <meta name="twitter:creator" content="@Valentin_Antoin">
    <meta name="twitter:image" content="img/typewriter.png">


    <!--  ICONS   -->
    <link rel="shortcut icon" type="image/x-icon" href="img/typewriter.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!--   FONTS   -->
    <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">

    <!--   NORMALIZE   -->
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">

    <!--   GOOGLE SEARCH CONSOLE   -->

    <!--  CSS STYLESHEET   -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

</head>


<body>

    <header>

        <nav class="navbar fixed-top navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="http://localhost/blog/public/index.php">Billet simple pour l'Alaska</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost/blog/public/index.php">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost/blog/public/index.php?acces=chapters">Chapitres <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost/blog/public/index.php?acces=presentation">Présentation</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Connectez-vous
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="http://localhost/blog/public/index.php?acces=subscribe">Inscription</a>
                            <a class="dropdown-item" href="http://localhost/blog/public/index.php?acces=connection">Connexion</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost/blog/public/index.php?acces=admin">Admin</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <main>

        {% block content %}{% endblock %}

        {% block comments %}{% endblock %}



    </main>

    <footer>

        <a href="#facebook" title="Facebook"><i class="fab fa-facebook-square fa-4x"></i></a>
        <a href="#twitter" title="Twitter"><i class="fab fa-twitter-square fa-4x"></i></a>
        <a href="#instagram" title="Instagram"><i class="fab fa-instagram fa-4x"></i></a>

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}


</body>

</html>
