{% extends "layout.twig" %}

{% block title %} Présentation de Jean {% endblock %}

{% block content %}

    <h1>{{ presentation.title | nl2br }}</h1>

    <p>{{ presentation.content | nl2br }}</p>

    <div class="btncontainer">

        <a class="controls" href="https://jeanforteroche.valentin-antoin.fr/index.php?acces=modchap&id={{ presentation.id }}">
            <button type="button" class="btn btnChap btn-warning">Modifier la présentation</button>
        </a>

    </div>


{% endblock %}